.header {
  position: fixed;
  width: 100%;
  z-index: 30;
}

.wrapper {
  height: 500vh;
  width: 100%;
}

.staticContent {
  position: fixed;
  z-index: 20;
  height: 600px;
  width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.darkModeBackground {
  background-color: var(--color-navy);
  color: var(--color-default);
}

.defaultModeBackground {
  background-color: var(--color-default);
  color: var(--color-mud);
}

.text {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: var(--font-size-h4);
}

.section {
  transition: background-color 0.3s ease;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.button {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 40;
}

.backButton {
  height: var(--element-xs);
  width: var(--element-xl);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--color-default);
  margin: var(--margin-xs) var(--margin-sm);
  border: 2px var(--color-default) solid;
}

@media screen and (max-height: 790px) {
  .staticContent {
    height: 400px;
    width: 400px;
  }
  .text {
    font-size: var(--font-size-h5);
  }
}

@media screen and (max-width: 800px) {
  .staticContent {
    max-height: 50vh;
    max-width: 80vw;
  }
}
