.smallHeight {
	min-height: 1rem;
}

.fullWidth {
	width: 100%;
	justify-content: space-between;
}

.nav {
	overflow-x: scroll;
}

.nav::-webkit-scrollbar {
	display: none;
}

.nav {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.imageList {
	overflow-x: scroll;
}

.imageList::-webkit-scrollbar {
	display: none;
}

.imageList {
	position: relative;
	top: 0px;
	left: 0px;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.buttonWrapper {
	position: absolute;
	top: 45%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 var(--margin-xs) var(--margin-xs) var(--margin-xs);
}

.imageListItem {
	position: absolute;
	top: 0px;
	left: 0px;
}

.loaderWrapper {
	height: 400px;
	width: 300px;
	background-color: var(--color-cloud);
	display: flex;
	align-items: center;
	justify-content: center;
}

.productImg {
	height: 400px;
}

.button {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 40;
}

.backButton {
	height: var(--element-xs);
	width: var(--element-xl);
	border-radius: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: var(--color-default);
	margin: var(--margin-xs) var(--margin-sm);
	border: 2px var(--color-mud) solid;
	color: var(--color-mud);
}
