.smallHeight {
	min-height: 1rem;
}

.fullWidth {
	width: 100%;
	justify-content: space-between;
}

.nav {
	overflow-x: scroll;
}

.nav::-webkit-scrollbar {
	display: none;
}

.nav {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.imageList {
	overflow-x: scroll;
}

.imageList::-webkit-scrollbar {
	display: none;
}

.imageList {
	position: relative;
	top: 0px;
	left: 0px;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.buttonWrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 var(--margin-xs) var(--margin-xs) var(--margin-xs);
}

.imageListItem {
	position: absolute;
	top: 0px;
	left: 0px;
}
