.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-xs) var(--padding-md);
  background: rgba(255, 255, 255, 0.2);
  overflow: hidden;
  transition: opacity 500ms ease-in-out;
}

.todoTask {
  flex-basis: 90%;
  font-size: var(--font-size-body);
  transition: opacity 0.4s linear;
  cursor: crosshair;
}

.isCompleted {
  text-decoration: line-through;
  color: var(--color-cloud);
}

.todoButtons {
  flex-basis: 10%;
}

.todoButtons button {
  border: none;
  font-size: var(--font-size-body);
  margin: var(--margin-xs);
  background: none;
  cursor: pointer;
  color: var(--color-default);
  -webkit-appearance: none;
}

.todoEditForm {
  display: flex;
  align-items: center;
}

.todoEditForm input {
  flex-basis: 75%;
  border: none;
  background: var(--color-default);
  padding: 0 var(--padding-md);
  font-size: var(-font-size-body);
  border-radius: 5px;
}

.todoEditForm button {
  padding: 0 1.3rem;
  border: none;
  background-color: transparent;
  color: var(--color-default);
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: 10px;
  cursor: pointer;
  transition: background 0.4s ease-out;
  outline: none;
  border-radius: 5px;
}

.todoEditForm button:hover {
  background-color: var(--color-nude);
}

.todoEditForm input,
.todoEditForm button {
  height: var(--element-xs);
}

@media screen and (max-width: 732px) {
  .todoEditForm input {
    flex-basis: 65%;
  }
}
