.wrapper {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 3rem;
}

.textWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	padding-top: var(--padding-md);
}

@media screen and (max-width: 860px) {
	.wrapper {
		gap: 2rem;
	}
}
