.header {
  position: fixed;
  top: 0;
  width: 100%;
}

.backgroundColor {
  background-color: var(--color-default);
  color: var(--color-mud);
  width: 100%;
}

.menuItem {
  white-space: normal;
}

.main {
  background-color: var(--color-forest-dark);
  height: 100vh;
}

.button {
  position: fixed;
  right: 0;
  z-index: 10;
}

.backButton {
  height: var(--element-xs);
  width: var(--element-xl);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: var(--margin-xs) var(--margin-sm);
  border: 2px var(--color-forest-dark) solid;
}

.darkModeBackground {
  background-color: var(--color-navy);
  color: var(--color-default);
}

.defaultModeBackground {
  background-color: var(--color-default);
  color: var(--color-mud);
}
