.gradient1 {
	background: linear-gradient(
		-45deg,
		var(--color-tomato),
		var(--color-nude),
		var(--color-sky),
		var(--color-primary)
	);
	background-size: 400% 400%;
	animation: gradient 15000ms ease 10;
}

.gradient2 {
	background: linear-gradient(
		45deg,
		var(--color-tomato),
		var(--color-nude),
		var(--color-sky),
		var(--color-primary)
	);
	background-size: 400% 400%;
	animation: gradient 15000ms ease 10;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.section {
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.section2 {
	width: 100%;
	height: 100%;
	padding: 5rem;
}

.section3 {
	width: 100%;
	text-align: center;
	min-height: 10vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	color: var(--color-mud);
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.padding {
	padding: 3rem;
}

.nameContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.image {
	width: var(--content-sm);
	height: var(--content-sm);
	cursor: pointer;
	margin: 1rem;
}

.image:hover {
	transform: scale(1.1);
	opacity: 1.3;
}

.bubbleSpeech {
	position: relative;
	transform: translatey(0px);
	animation: float 5s ease-in-out 5;
	mix-blend-mode: multiply;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: var(--font-size-h6);
	color: var(--color-tomato);
	background-color: var(--color-nude);
	padding: var(--padding-lg);
	border-radius: 1rem;
	box-shadow: 2rem 0.8rem var(--color-sky);
}

.bubbleSpeech::after {
	transform: translatey(0px);
	animation: float2 5s ease-in-out 5;
	content: '.';
	font-weight: bold;
	-webkit-text-fill-color: var(--color-nude);
	text-shadow: 1rem 1rem var(--color-sky);
	text-align: right;
	font-size: var(--font-size-h3);
	width: var(--element-xxxs);
	height: var(--element-root);
	line-height: 2rem;
	border-radius: 0.9rem;
	background-color: var(--color-nude);
	position: absolute;
	bottom: -30px;
	right: 0;
	box-shadow: 1rem 1rem var(--color-sky);
	z-index: -2;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-0.8rem);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes float2 {
	0% {
		line-height: 2rem;
		transform: translatey(0px);
	}
	55% {
		transform: translatey(-1rem);
	}
	60% {
		line-height: 1rem;
	}
	100% {
		line-height: 2rem;
		transform: translatey(0px);
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5rem;
}

.description {
	width: 100%;
	min-height: var(--element-xl);
	padding: 0 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color-mud);
}

.fontStyle {
	font-size: 1.8rem;
	font-style: italic;
}

.subTitle {
	padding-left: 0;
	justify-content: flex-start;
	font-size: var(--font-size-h5);
	color: var(--color-mud);
}

.name {
	color: var(--color-default);
	font-size: var(--font-size-h3);
	letter-spacing: 1rem;
	text-transform: uppercase;
}

.text {
	text-align: center;
	font-size: var(--font-size-h5);
	width: 100%;
}

.height {
	height: var(--content-xs);
	display: flex;
	align-items: center;
	justify-content: center;
}

.cardContainer {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(16rem, auto));
	grid-template-rows: auto;
	gap: 1.5rem;
}

.card {
	height: var(--content-sm);
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 0.5rem;
	mix-blend-mode: multiply;
	letter-spacing: 2px;
	font-size: var(--font-size-h6);
	color: var(--color-mud);
	padding: var(--padding-md);
	gap: 1rem;
	text-align: center;
	text-decoration: wavy;
	border: 2px var(--color-forest) solid;
	box-shadow: 0.5rem 0.5rem var(--color-forest-dark);
}

.card:hover {
	animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
	transform: translate3d(0, 0, 0);
	perspective: 1000px;
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}
	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-2px, 0, 0);
	}
	40%,
	60% {
		transform: translate3d(2px, 0, 0);
	}
}

.projectWrapper {
	height: 100%;
	width: 100%;
}

.projectContainer {
	width: 100%;
	display: flex;
	gap: 2rem;
	padding-bottom: var(--padding-md);
	overflow-x: auto;
	/* for Firefox */
	scrollbar-color: var(--color-cloud) var(--color-sky);
	scrollbar-width: thin;
}

.projectContainer::-webkit-scrollbar {
	width: 0.4rem;
	height: 0.4rem;
}

.projectContainer::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}

.projectContainer::-webkit-scrollbar-thumb {
	background: var(--color-cloud);
}

.projectContainer::-webkit-scrollbar-thumb:hover {
	background: var(--color-cloud);
}

.projectContainer::-webkit-scrollbar-thumb:active {
	background: var(--color-cloud);
}

.projectContainer::-webkit-scrollbar-track {
	background: var(--color-sky);
}

.projectContainer::-webkit-scrollbar-track:hover {
	background: var(--color-sky);
}

.projectContainer::-webkit-scrollbar-track:active {
	background: var(--color-sky);
}

.projectContainer::-webkit-scrollbar-corner {
	background: transparent;
}

.project {
	height: var(--content-md);
	width: var(--content-md);
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-primary-dark);
	box-shadow: 0.5rem 0.5rem var(--color-primary);
	cursor: pointer;
	border-radius: 0.5rem;
}

.project:hover {
	background-color: var(--color-sky);
}

.link {
	text-decoration: none;
}

.projectButton,
button {
	width: 100%;
	border: none;
	background-color: transparent;
	color: var(--color-default);
	cursor: pointer;
}

.socialMedia {
	display: flex;
	gap: 2rem;
}

.contact {
	color: var(--color-cloud);
	font-size: var(--font-size-h3);
	letter-spacing: 1rem;
	text-transform: uppercase;
}

.copyright {
	color: var(--color-mud);
	font-size: 1.2rem;
}

.fontawesome {
	color: var(--color-cloud);
}

@media screen and (max-width: 800px) {
	.cardContainer {
		flex-wrap: wrap;
		display: flex;
	}

	.height {
		padding: var(--padding-lg) var(--padding-lg) 0 var(--padding-lg);
	}

	.projectContainer {
		flex-direction: column;
		align-items: center;
		width: 100%;
		padding-bottom: 3rem;
	}

	.description {
		font-size: var(--font-size-h5);
	}
}
