.colorPalette {
	width: 80%;
	max-width: 480px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.25rem;
}

.colorButton {
	width: 30px;
	height: 30px;
	margin: 0 5px;
	border: 1px solid #ccc;
	cursor: pointer;
}

.selectedColor {
	border: dashed #ccc 5px;
}
