:root {
	--color-primary: hsl(212, 100%, 85%);
	--color-primary-dark: hsl(212, 92%, 65%);
	--color-secondary: hsl(230, 100%, 85%);
	--color-secondary-dark: hsl(230, 92%, 75%);
	--color-tomato: hsl(350, 88%, 74%);
	--color-nude: hsl(350, 58%, 90%);
	--color-sky: hsl(212, 92%, 75%);
	--color-forest: hsl(168, 37%, 63%);
	--color-forest-dark: hsl(168, 20%, 78%);
	--color-sunflower: hsl(48, 74%, 74%);
	--color-sunflower-dark: hsl(48, 88%, 60%);

	--color-mint: hsl(97, 100%, 90%);
	--color-turquoise: hsl(204, 25%, 52%);
	--color-fire: hsl(12, 63%, 44%);
	--color-salmon: hsl(20, 100%, 85%);
	--color-olive: hsl(200, 36%, 39%);
	--color-navy: hsl(215, 56%, 17%);
	--color-cobalt: hsl(202, 100%, 27%);
	--color-night: hsl(0, 0%, 15%);
	--color-lavender: hsl(278, 83%, 79%);
	--color-fairy: hsl(296, 70%, 82%);
	--color-ivory: hsl(43, 32%, 91%);
	--color-soil: hsl(34, 30%, 82%);
	--color-autumn: hsl(32, 30%, 69%);
	--color-natural: hsl(27, 100%, 92%);
	--color-mustard: hsl(40, 62%, 61%);
	--color-squrrel: hsl(27, 85%, 36%);
	--color-persimmon: hsl(30, 73%, 53%);
	--color-bear: hsl(0, 28%, 27%);
	--color-chestnut: hsl(0, 75%, 19%);
	--color-custard: hsl(54, 100%, 88%);
	--color-wheat: hsl(32, 86%, 89%);

	--color-default: hsl(0, 0%, 97%);
	--color-dark: hsl(0, 0%, 24%);
	--color-cloud: hsla(0, 0%, 47%, 0.5);
	--color-mud: hsla(0, 0%, 20%, 0.7);
	--color-shadow: hsla(212, 20%, 49%, 0.5);
	--color-transparent-dark: hsla(0, 0%, 0%, 0.25);
	--color-transparent-dark-font: hsl(0, 0%, 50%);
	--color-transparent: transparent;
	--color-transparent-font: hsl(0, 0%, 50%);
	--color-backdrop: hsla(0, 0%, 0%, 0.5);

	--content-xxxl: 22rem;
	--content-xxl: 20rem;
	--content-xl: 18rem;
	--content-lg: 16rem;
	--content-md: 14rem;
	--content-sm: 12rem;
	--content-xs: 10rem;
	--content-xxs: 8rem;
	--content-xxxs: 6rem;

	--element-xl: 5rem;
	--element-lg: 4.5rem;
	--element-md: 4rem;
	--element-sm: 3.5rem;
	--element-xs: 3rem;
	--element-xxs: 2.5rem;
	--element-xxxs: 2rem;
	--element-xxxxs: 1.5rem;
	--element-root: 1rem;

	--margin-xl: 2.5rem;
	--margin-lg: 2rem;
	--margin-md: 1.5rem;
	--margin-sm: 1rem;
	--margin-xs: 0.5rem;
	--margin-xxs: 0.25rem;

	--padding-xxl: 3rem;
	--padding-xl: 2.5rem;
	--padding-lg: 2rem;
	--padding-md: 1.5rem;
	--padding-sm: 1rem;
	--padding-xs: 0.5rem;
	--padding-xxs: 0.25rem;

	--font-size-h1: 6rem;
	--font-size-h2: 3.75rem;
	--font-size-h3: 3rem;
	--font-size-h4: 2.125rem;
	--font-size-h5: 1.5rem;
	--font-size-h6: 1.25rem;
	--font-size-subtitle: 1rem;
	--font-size-body: 1rem;
	--font-size-button-text: 0.875rem;
	--font-caption-text: 0.75rem;
	--font-description-text: 0.75rem;
	--font-overline-text: 0.75rem;
}

html {
	height: 100%;
	width: 100%;
	font-size: 100%;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	min-height: 100%;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

input,
button,
textarea,
select {
	font: inherit;
}

html,
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* LEGACY MOBILE (iPhone 5 and older) | PORTRAIT */
@media only screen and (min-width: 200px) {
	html {
		font-size: 50%;
	}
}

/* MOBILE | PORTRAIT */
@media only screen and (min-width: 321px) and (min-height: 568px) {
	html {
		font-size: 80%;
	}
}

/* MOBILE | LANDSCAPE */
@media only screen and (min-width: 568px) and (min-height: 768px) {
	html {
		font-size: 90%;
	}
}

/* TABLET */
@media only screen and (min-width: 768px) and (min-height: 1280px) {
	html {
		font-size: 100%;
	}
}

/* LAPTOP */
@media only screen and (min-width: 1280px) and (min-height: 1680px) {
	html {
		font-size: 110%;
	}
}

/* DESKTOP & INFO SCREENS */
@media only screen and (min-width: 1680px) and (min-height: 1680px) {
	html {
		font-size: 120%;
	}
}
